<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="css/instapuppy.css">
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="page-container">
        <md-app md-waterfall md-mode="fixed">

          <!-- toolbar -->
          <md-app-toolbar class="md-primary">
            <div class="md-toolbar-section-start">
              <span v-on:click="onHome"><img class="app-icon" src="images/instapuppy-icon.png" /></span>
              <span v-on:click="onHome" class="md-title">{{ title }}</span>
            </div>
            <div class="md-toolbar-section-end">
              <span v-on:click="mode='profile'">{{ userDisplayName }} </span>
    
              <md-button v-if="userDisplayName" class="md-icon-button" v-on:click="mode='upload'">
                <md-icon>add</md-icon>
              </md-button>
            </div>
          </md-app-toolbar><!-- toolbar -->
    
          <!-- app content -->
          <md-app-content>

            <!-- timeline cards -->
            <md-card v-if="mode=='loggedin'" v-for="doc in processedDocs">
              
              <md-card-content>
                <b>{{ doc.name }}</b> - <i>{{ doc.date }}</i>
              </md-card-content>

              <md-card-media>
                <md-ripple>
                  <img :src="doc.url" :alt="doc.name">
                </md-ripple>
              </md-card-media>

              <md-card-content>
                {{ doc.descr }}
              </md-card-content>
        
              <md-card-actions>
                <md-button class="md-icon-button">
                  <md-icon>favorite</md-icon>
                </md-button>
        
                <md-button class="md-icon-button">
                  <md-icon>bookmark</md-icon>
                </md-button>
        
                <md-button class="md-icon-button">
                  <md-icon>share</md-icon>
                </md-button>
              </md-card-actions>
            </md-card>

            <!-- login form -->
            <md-card v-if="mode=='login'">
              <md-card-content>
                <md-card-content>
                  <h2>Login</h2>
                </md-card-content>
                <md-field>
                  <label>Username</label>
                  <md-input v-model="login.username" type="email"></md-input>
                </md-field>
            
                <md-field>
                  <label>Password</label>
                  <md-input v-model="login.password" type="password"></md-input>
                </md-field>

                <div>
                  Don't have an account yet? <a href="#" v-on:click="mode = 'register'">Register here</a>
                </div>
              </md-card-content>
          
              <md-card-actions>
                <md-button class="md-icon-button" v-on:click="onLogin">Login</md-button>
              </md-card-actions>

            </md-card> <!-- login form -->

            <!-- registration form -->
            <md-card v-if="mode=='register'">
              <md-card-content>
                <md-card-content>
                    <img class="center" src="images/instapuppy-logo.png" alt="logo">

                    <h2>Register</h2>
                </md-card-content>
                <md-field>
                  <label>Username</label>
                  <md-input v-model="register.username" type="email"></md-input>
                </md-field>
            
                <md-field>
                  <label>Password</label>
                  <md-input v-model="register.password1" type="password"></md-input>
                </md-field>

                <md-field>
                  <label>Repeat Password</label>
                  <md-input v-model="register.password2" type="password"></md-input>
                </md-field>
              </md-card-content>
              
              <div>
                Already have an account? <a href="#" v-on:click="mode = 'login'">Login here</a>
              </div>
          
              <md-card-actions>
                <md-button class="md-icon-button">Register</md-button>
              </md-card-actions>
            </md-card> <!-- registration form -->

            <!-- upload form -->
            <md-card v-if="mode=='upload'">
              <md-card-content>
                <h2>Upload</h2>
                <div id="drop_zone" ondrop="drop_handler(event);" ondragover="onDragOver(event)" ondragleave="onDragLeave(event)">
                  <strong>Drop file here...</strong>
                </div>
                <div>
                  <br>
                  <md-progress-bar v-if="upload.progress >0 && upload.progress < 100" md-mode="determinate" :md-value="upload.progress"></md-progress-bar>
                </div>
                <md-field>
                    <label>Key</label>
                    <md-input v-model="upload.key" type="string" readonly></md-input>
                  </md-field>
                  <md-field>
                    <label>Name</label>
                    <md-input v-model="upload.name" type="email"></md-input>
                  </md-field>
                  <md-field>
                    <label>Description</label>
                    <md-input v-model="upload.descr" type="string"></md-input>
                  </md-field>  
              </md-card-content>
              <md-card-actions>
                <md-button class="md-icon-button" :disabled="!(upload.key && upload.name)" v-on:click="onUpload">Upload</md-button>
              </md-card-actions>
            </md-card> <!-- upload form -->

            <!-- profile panel -->
            <md-card v-if="mode=='profile'">
              <md-card-content>
                <md-card-content>
                  <h2>Logged in as</h2>
                  {{ userDisplayName }}
                </md-card-content>
                <md-card-actions>
                  <md-button class="md-icon-button" v-on:click="onLogout">Logout</md-button>
                </md-card-actions>
              </md-card-content>
            </md-card> <!-- profile panel -->

            <md-snackbar :md-active.sync="snackbar" md-persistent>
              <span>{{ snackbarMessage }}</span>
            </md-snackbar>

          </md-app-content> <!-- app content -->
        </md-app> <!-- app -->
      </div>
      
    </div> <!-- #app -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="js/lib.js"></script>
    <script src="js/instapuppy.js"></script>
  </body>
</html>
